body {
  font-family: 'Palatino', Times, sans-serif
}

.your-class::-webkit-input-placeholder {
  color: black;
}

/* #spotify-login{
  position: absolute;
  right: 3vw;

} */
.search-wrapper {
  position: relative;
}

#spotify-login {
  /* position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px;
  background: black;
  color:#f7b0cb;
  display: block;
  text-align: center;
  width: 35px;
  height: 35px; */
  display: flex;
  /* Change to flex box*/
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  width: 56px;
  height: 56px;
  background: black;
  padding: 1px;
  text-align: center;
  border-radius: 50px;
  color: #1DB954;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  border: 0px;

}

#spotify-login:hover {
  color: #199c47;
  cursor: pointer;

}

.fa-brands {
  font-size: 60px;

}

#name {
  text-align: center;
  font-size: 45px;
  color: hotpink;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;

}

#name:hover{
  color:deeppink;
}

#slogan {
  text-align: center;
  font-size: 20px;
  margin-top: -10px;
}


#popular-concerts {
  cursor: pointer;
  color: black;
  padding: 1rem;
  border: 0.1rem solid hotpink;
  margin-bottom: 1.4rem;
  background: #f7f7f7;
  font-size: 10px;
  width: 10vw;
  height: 10vw;
  margin: 20px;
}
#search-concerts {
  display: flex;
  cursor: pointer;
  color: black;
  padding: 1rem;
  border: 0.1rem solid hotpink;
  margin-bottom: 1.4rem;
  background: #f7f7f7;
  font-size: 10px;
  width: 60vw;
  height: 10vw;
  margin: 5px;
}
#search-concerts >.body {
  height: 10vw;
  width: 53vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search-concert-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 18vw;
  margin-right: 17vw;
  flex-direction: column;
}
.card body {
  width: 50%;
  height: 50%;
}
#trending-concerts {
  font-size: 14px;
  margin-left: 20vw;
}

#popular-concerts {
  margin-right: 1.4rem;
}

#popularConcertContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 17vw;
  margin-right: 17vw;
}


.buyTickets:hover {
  background: #d19fa9;
}

.card:hover {
  background: #faedf0;
}

.hide {
  display: none;
}

#popularConcertContainer img {
  height: 100%;
  width: 100%;
}

/* Only apply to non-trending concert card images.  */
#search-concerts>.body>img {
  height: 70%;
  width: 18%;
}

#search-concerts>.header {
    margin-right: 2vw;
    display: flex;
    align-items: center;
    font-size: 17px;
}





#search {
  /* height: 100%; */
  width: 700px;
  background: pink;
  font-size: 15px;
  border: 1.5px solid hotpink;
}

#search::placeholder {
  font-size: 15px;
}

#date {
  /* height: 100%; */
  width: 15%;
  box-sizing: content-box;
  background: pink;
  font-size: 12.5px;
  border: 1.5px solid hotpink;
  cursor: pointer;
}



#location-button:hover {
  background: #d19fa9;
}

#location-button {
  /* width: 100%; */
  height: 4vh;
  background: pink;
  font-size: 14px;
  border: 1.5px solid hotpink;
  cursor: pointer;
  z-index: 3;
  /* display: none; */
  position: relative;
}


#city {
  width: 100px;
  height: 100%;
  background: pink;
  border: 1.5px solid hotpink;
  font-size: 15px;
  /* border-radius: 0.4rem; */
}
#city-dropdown{
  /* height: 100%; */
}
/* #city::placeholder {


} */
.search-wrapper select {
  height: 30px;
  width: 100px;
  background: pink;
  font-size: 11px;
  border: 1.5px solid hotpink;
  border-radius: 0.4px;
  margin-top: 5px;
  margin-left: 5px;

}

/* #search-sort {
  margin-left: 205px;
} */

.search-wrapper label {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

#search-and-sort {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

#search-container {
  display: flex;
  /* justify-content: center;  */
  margin-left: 20vw;
  margin-right: 20vw;
  align-items: stretch;
  height: 40px;
}
#search-sort{
  display: flex;
  justify-content: center;
  margin-left: 25vw;
  margin-right: 25vw;
  align-content: center;
  margin-top: 10px;
}

#next-button {
  display: none;
  padding-inline: 4px;
}

#previous-button {
  display: none;
}

footer {
  background: pink;
  bottom: 0;

}


/* #radius, #sort, #genre {
  width: 10%;
  height: 5vw;
  font-size: 1.5vw;
} */

.buyTickets {
  /* margin-top: 1rem; */
  display: block;
  text-decoration: none;
  background: pink;
  color: black;
  padding: 0.5rem;
  border: 1.5px solid hotpink;
  border-radius: 0.4rem;
  text-align: center;
  /* text-align: justify; */
  width: 20%;
  /* height: 3vw; */
  font-size: 18px;
}


/* #location-button{
  width: 20%;
  height: 5vw;
} */



/*
/* The navigation bar */
.navbar {
  background-color: pink;
  text-align: center;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
}

#search-button {
  /* height: 100%; */
  background: pink;
  font-size: 17px;
  border: 1.5px solid hotpink;
  cursor: pointer;
  /*margin-left: -2.7rem;*/
}

#search-button:hover {
  background: #d19fa9;
}

#totalresults {
  font-size: 14px;
  margin-left: 18vw;
}
#search-concerts > .body > h4 {
    width: 24vw;
    font-size: 18px;
    font-weight: normal;
}
div#page {

    text-align: center;
}
button#previous-button {
    margin-right: -0.25vw;
    padding-right: 0.2px;
    
}

.material-symbols-outlined {
  font-size: 12px;
}

#home-page-button{
  text-decoration: none;
}





